<vc-video-courses-search (searchCourse)="search($event)"></vc-video-courses-search>
<vc-video-courses-list-item
  *ngFor="let course of courses; trackBy: identify"
  [course]="course"
  (deleteCourse)="deleteCourse($event)"
></vc-video-courses-list-item>
<vc-video-courses-load-more
  (loadMore)="(loadMore())"
  *ngIf="!isFullyLoaded; else elseBlock"
></vc-video-courses-load-more>
<ng-template #elseBlock>
  <vc-video-courses-no-data *ngIf="!courses.length"></vc-video-courses-no-data>
</ng-template>
