<vc-video-courses-search (searchCourse)="search($event)"></vc-video-courses-search>
<vc-video-courses-list-item
  *ngFor="let course of courses$ | async; trackBy: identify"
  [course]="course"
  (deleteCourse)="deleteCourse($event)"
></vc-video-courses-list-item>
<vc-video-courses-load-more
  (loadMore)="(loadMore())"
  *ngIf="canLoadMore$ | async; else noData"
></vc-video-courses-load-more>
<ng-template #noData>
  <vc-video-courses-no-data *ngIf="!(courses$ | async)?.length"></vc-video-courses-no-data>
</ng-template>
