<form [formGroup]="courseForm" (ngSubmit)="save()">
  <mat-label class="label">Title:</mat-label>
  <input
    class="fullWidth"
    [class.error]="formControls.title.touched && formControls.title.errors"
    name="title"
    placeholder="Text input"
    formControlName="title"
  />
  <span class="error-message" *ngIf="formControls.title.touched && formControls.title.errors?.required"> * required </span>
  <span class="error-message" *ngIf="formControls.title.errors?.maxlength"
    >* max length is {{ formControls.title.errors?.maxlength.requiredLength }}
  </span>
  <mat-label class="label">Description:</mat-label>
  <textarea
    class="fullWidth"
    [class.error]="formControls.description.touched && formControls.description.errors"
    formControlName="description"
    name="description"
    placeholder="Add description"
  ></textarea>
  <span class="error-message" *ngIf="formControls.description.touched && formControls.description.errors?.required">
    * required
  </span>
  <span class="error-message" *ngIf="formControls.description.errors?.maxlength"
    >* max length is {{ formControls.description.errors?.maxlength.requiredLength }}
  </span>
  <vc-duration formControlName="duration"></vc-duration>
  <vc-date formControlName="date"></vc-date>
<vc-authors-autocomplete formControlName="authors" [authors]="this.authors"></vc-authors-autocomplete>
  <div class="actions">
    <button type="reset" mat-stroked-button [routerLink]="['..']">Cancel</button>
    <button type="submit" mat-flat-button color="accent"
    [disabled]="this.courseForm.invalid"
    >Save</button>
  </div>
</form>
