.logo {
    background: linear-gradient(180deg, rgb(34, 192, 255) 30%, rgb(159, 255, 34));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    padding-right: 1rem;
    transform: scale(1.5);
}

.spacer {
    flex: 1 1 auto;
}

.login {
    font-size: 0.9rem;
    padding-right: 1rem;
    padding-left: 0.2rem;
}
